.img_text_box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.img_text_box img{
    aspect-ratio: 1/1;
    object-fit: cover;
    overflow: hidden;
    width: 100%;
    height: 100%;
}
@media(min-width: 768px){
    .img_text_box{
        flex-direction: row;
    }
}